.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-y: auto;

  /* padding-bottom: calc(var(--space-1) + var(--height-tabbar)); */
}

header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--space-0_75) var(--space-1);
  border-bottom: 1px solid var(--main-foreground-10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-background-light);
}

header h1 {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: var(--main-foreground);
}

.space-bottom {
  height: calc(var(--space-1) + var(--height-tabbar));
}
.content {
  padding: var(--space-1_75);
  margin-top: 60px; 
  overflow-y: auto;
}

/* Tabs - Inline pill style (extension popup) */
.tabs-nav {
  position: fixed;
  z-index: 9999;
  bottom: var(--space-1);
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  height: var(--height-tabbar);
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--main-foreground-10);
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  gap: var(--space-0_25);
  padding: var(--space-0_25);

  background-color: var(--main-background-light-10);
  backdrop-filter: blur(var(--blur-md));
  -webkit-backdrop-filter: blur(--blur-md); /* Safari */
  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
}

.bottom-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(4.5rem + env(safe-area-inset-bottom));
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  background-color: hsla(var(--background), 0.82);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-top: 1px solid var(--main-foreground-10);
  padding-bottom: env(safe-area-inset-bottom);
  margin: 0;
  z-index: 100;
}

.tab-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--main-foreground);
  flex: 1;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;

  transition:
    background-color var(--dur),
    color var(--dur),
    box-shadow var(--dur),
    transform var(--dur-fast);
}

.tab-trigger:hover {
  color: var(--main-foreground);
  background-color: var(--main-primary-10);
}

.tab-trigger.active {
  background-color: var(--main-primary);
  color: var(--main-background);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
